<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Messages:</title>
    <link th:href="@{'css/main.css'}" rel="stylesheet">
    <link th:href="@{'css/show-messages.css'}" rel="stylesheet">
    <link th:href="@{'css/fontello.css'}" rel="stylesheet">
    <link th:href="@{'https://fonts.gstatic.com'}" rel="preconnect">
    <link th:href="@{'https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap'}" rel="stylesheet">
</head>
<body>
<table align="center" class="table" name="text-messages">
    <thead class="thead-dark">
    <tr>
        <th class="column1" scope="col">Id:</th>
        <th class="column1" scope="col">User login:</th>
        <th class="column2" scope="col">Message:</th>
        <th class="column3" scope="col">Link to web page:</th>
        <th class="column4" scope="col">Date:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messageObj}">
        <td class="column1" th:text="${message.id}"></td>
        <td class="column1" th:text="${message.user != null ? message.user.login : 'N/A'}"></td>
        <td class="column2" th:text="${message.message}"></td>
        <td class="column3" th:text="${message.uploadDir != null ? message.uploadDir : 'No upload'}"></td>
        <td class="column4" th:text="${#dates.format(message.localDate, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
    </tbody>

</table>
<div align="center">
    <h4 style="line-height: 1cm"></h4>
    <form th:action="@{/userpage}">
        <button type="submit">Back</button>
    </form>
</div>
</body>
</html>