<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Messages:</title>
    <link th:href="@{'css/main.css'}" rel="stylesheet">
    <link th:href="@{'css/show-messages.css'}" rel="stylesheet">
    <link th:href="@{'css/fontello.css'}" rel="stylesheet">
    <link th:href="@{'https://fonts.gstatic.com'}" rel="preconnect">
    <link th:href="@{'https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap'}" rel="stylesheet">
</head>
<body>
<table align="center" class="table" name="text-messages">
    <tbody>
    <form action="/show-messages" th:object="${message}" method="get">
    <tr>
            <td><p>Photo....</p></td>
            <td><b>First Name and Last Name</b></td>
            <td type="text" th:text="${message1.localDate}">Date of the msg...</td>
    </tr>
    <tr>
        <td></td>
        <td width="450px" height="200px" type="text" th:text="${}">User's Message</td>
    </tr>
    </form>
    </tbody>
</table>
<div style="position: relative; left: 200px; bottom: 60px" name="login-box" align="left">
    <form th:action="@{/userpage}">
        <button type="submit">Back</button>
    </form>
</div>
</body>
</html>