<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Adding content by user:</title>
    <link th:href="@{'css/main.css'}" rel="stylesheet">
    <link th:href="@{'css/useraddcontent.css'}" rel="stylesheet">
    <link th:href="@{'css/fontello.css'}" rel="stylesheet">
    <link th:href="@{'https://fonts.gstatic.com'}" rel="preconnect">
    <link th:href="@{'https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap'}" rel="stylesheet">
</head>
<body>
<h1 align="center">Add a message</h1>
<p style="line-height: 40px"></p>
<h3 style="position: fixed; right:480px; top:40px"><input disabled th:value="${login}"></h3>
<p style="line-height: 40px"></p>

<form th:action="@{/useraddcontent}" method="post" th:object="${userAddMessage}">
<table align="center">
    <tr>
        <td style="position: fixed; left:480px; top:90px">
            <form th:action="@{/userpage}">
                <button type="submit">Back</button>
            </form>
        </td>
       <td style="position:fixed; right:480px; top:75px">
           <p><input type="submit" value="Tweet"/></p>
       </td>
    </tr>
</table>
<div>
    </br>
 <table align="center">
     <tr>
         <td>Input your text message below:</td>
         </br>
     </tr>
     <tr>
         <td>
             <textarea id="text" name="message" maxlength="350" placeholder="Text box. Max. lenght 350 characters."
                       th:field="*{message}" rows="20" cols="50" enctype="multipart/form-data"/>
             </textarea>
         </td>
     </tr>
 </table>
</div>
</form>
</body>
</html>